<div id="doc" class="markdown-body container-fluid" style="position: relative;"><p>CS152 Project</p><h1 id="CS152-Racket-Web-Application">CS152 Racket Web Application</h1><p>By:<br>
Raul Luis<br>
QiQi Yuki Ou<br>
Richard Faustino</p><hr><h2 id="Introduction">Introduction</h2><p>How do we make dynamic web applications using Racket? With our project, we show how to achieve this goal.<br>
We will explain how to start up a web server, how to generate dynamic web content, and how to interact with the user with the Continuation magic in Racket.</p><hr><h2 id="About-Our-Web-Application">About Our Web Application</h2><p>We have developed a blog which is able to:</p><ul>
<li class="task-list-item">
<p><input type="checkbox" class="task-list-item-checkbox" checked="" disabled="disabled"><label></label>Show a static list of posts.</p>
</li>
<li class="task-list-item">
<p><input type="checkbox" class="task-list-item-checkbox" checked="" disabled="disabled"><label></label>Allow user to add new posts to the system.</p>
</li>
<li class="task-list-item">
<p><input type="checkbox" class="task-list-item-checkbox" checked="" disabled="disabled"><label></label>Extend the model to let a user add comments to a post.</p>
</li>
<li class="task-list-item">
<p><input type="checkbox" class="task-list-item-checkbox" checked="" disabled="disabled"><label></label>User will be able to delete or update a post with employing SQL database</p>
</li>
<li class="task-list-item">
<p><input type="checkbox" class="task-list-item-checkbox" checked="" disabled="disabled"><label></label>Allow all users to share the same set of posts.</p>
</li>
</ul><hr><h2 id="What-Makes-Racket-Unique">What Makes Racket Unique?</h2><ul>
<li>Render</li>
<li>Quasiquote</li>
<li>Macros</li>
<li>Servlets - web interactions</li>
<li>Formlets</li>
<li>Continuation and Synchronization</li>
</ul><hr><h2 id="Render">Render</h2><ul>
<li><a href="https://docs.racket-lang.org/web-server/http.html#%28def._%28%28lib._web-server%2Fhttp%2Fxexpr..rkt%29._response%2Fxexpr%29%29" target="_blank">response/xexpr</a> takes an X-expression representing the desired HTML.</li>
<li>An X-expression is defined as …</li>
</ul><pre><code>(define xexpr/c
  (flat-rec-contract
   xexpr
   (or/c string?
         (cons/c symbol? (listof xexpr))
         (cons/c symbol?
                 (cons/c (listof (list/c symbol? string?))
                         (listof xexpr))))))
</code></pre><hr><h3 id="use-X-expressionals-to-represent-HTML">use X-expressionals to represent HTML</h3><ol>
<li>Alternative in xexpr/c is string?.</li>
</ol><p><strong>in HTML</strong>: "hello"<br>
<strong>in X-expression</strong>, strings are automatically escaped when output.</p><p><strong>in HTML</strong>: <code>&lt;i&gt;Finished tag&lt;/i&gt;</code><br>
<strong>in X-expression</strong>, it will render as <code>&amp;lt;i&amp;gt;Finished tag&amp;lt;/i&amp;gt;</code>, which is equivalent to <code>&lt;i&gt;Finished\ntag&lt;/i&gt;</code></p><hr><ol start="2">
<li>Another alternative in xexpr/c is recursive contract (cons/c symbol? (listof xexpr))</li>
</ol><p><strong>in HTML</strong>: <code>&lt;p&gt;This is an example&lt;/p&gt;</code><br>
<strong>in X-expression</strong>:<code>'(p "This is an example").</code></p><hr><ol start="3">
<li>Third alternative in xexpr/c allows for parameters in HTML tags.</li>
</ol><p><strong>in HTML</strong>: <code>&lt;a href="link.html"&gt;Past&lt;/a&gt;</code><br>
<strong>in X-expression</strong>: <code>'(a ((href "link.html")) "Past")</code></p><p><strong>in HTML</strong>: <code>&lt;p&gt;This is &lt;div class="emph"&gt;another&lt;/div&gt; example.&lt;/p&gt;</code><br>
<strong>in X-expression</strong>: <code>'(p "This is " (div ((class "emph")) "another") " example.")</code></p><hr><h2 id="samples-codes-from-our-work-…">samples codes from our work …</h2><pre><code>     `(html (head (title "Add a Comment"))
            (body
             (h1 "Add a Comment")
             "The comment: " (div (p ,a-comment))
             "will be added to "
             (div ,(post-title a-post))
 
             (p (a ([href ,(embed/url yes-handler)])
                   "Yes, add the comment."))
             (p (a ([href ,(embed/url cancel-handler)])
                   "No, I changed my mind!"))))
</code></pre><hr><h3 id="We-could-also-produce-X-expressions-manually-using-cons-and-list-…">We could also produce X-expressions manually using cons and list …</h3><pre><code>(list 'html (list 'head (list 'title "Some title"))
       (list 'body (list 'p "This is a simple static page.")))

'(html (head (title "Some title"))
       (body (p "This is a simple static page.")))
</code></pre><p>The latter one is much easily to write (which is what we adopted). But this cannot produce web content that is dynamic.</p><p>If we try to inject expressions into an X-expression constructed by simple list abbreviation, those expressions will be treated as part of the list structure.</p><hr><h2 id="Quasiquote">Quasiquote</h2><p>In quasiquotation, a list is abbreviated not with a leading forward quote but with a leading back quote. If we wish any subexpression of this backquoted list to be evaluated normally (“unquoted”), then all we have to do is place a comma in front that subexpression.</p><pre><code>(define (render-blog-page a-blog request)
  (define (response-generator embed/url)
    (response/xexpr
     `(html ... 
             (form ([action
                     ,(embed/url insert-post-handler)])
                   ,@(formlet-display new-post-formlet)
                   (input ([type "submit"])))
             (a ([href ,(embed/url delete-post-handler)])
                "Delete all posts")))))
</code></pre><hr><h2 id="Macros">Macros</h2><ul>
<li>Using Macros is often avoided because determing the source of an error is difficult</li>
<li>But Racket has multiple systems to highlight the source</li>
<li>This makes Racket much more user friendly</li>
</ul><hr><h3 id="Servlet-Web-Interactions---sendsuspenddispatch">Servlet Web Interactions - send/suspend/dispatch</h3><p>A single <em>servlet</em> potentially serves many requests at once, each in a separate request-handling thread.</p><p><strong>send/suspend/dispatch</strong> consumes a response-generating function and gives it another function, called <strong>embed/url</strong>, that we’ll use to build special URLs.</p><p>How it is amazing: when a web browser visits one of them, our web application restarts, <strong>not from start</strong>, but from the <strong>handler</strong> that we associate with the URL.</p><hr><pre><code>(define (render-blog-page a-blog request)
  (define (response-generator embed/url)
    ...
             (form ([action
                     ,(embed/url insert-post-handler)])
                   ,@(formlet-display new-post-formlet)
                   (input ([type "submit"])))
             (a ([href ,(embed/url delete-post-handler)])
                "Delete all posts")))))
 
  (define (insert-post-handler request)
    ...
    (render-blog-page a-blog (redirect/get)))

     (define (delete-post-handler request)
    ...
  
  (send/suspend/dispatch response-generator))
</code></pre><hr><h2 id="formlet">formlet</h2><p>The Racket framework provides <a href="https://docs.racket-lang.org/web-server/formlets.html#%28tech._formlet%29" target="_blank">formlets</a> to abstract names that used to identify a form element in the rendering code, by adjusting them automatically in the HTML, and by presenting the following interface for the display and processing of forms:</p><hr><ul>
<li><strong>formlet-display</strong> takes a formlet and returns its rendering as a list of X-expressions. This will generate unique names for its form elements.</li>
<li><strong>formlet-process</strong> takes a formlet and a request and processes the formlet, i.e., extracts the bindings from the request using the names generated by formlet-display.</li>
</ul><hr><h3 id="our-old-codes-…">our old codes …</h3><pre><code>; render-blog-page: blog request -&gt; doesnt'
; Send an HTML page of the content of the
; blog.
(define (render-blog-page a-blog request)
  (define (response-generator embed/url)
    (response/xexpr
     `(html (head (title "My Blog"))
            (body
             (h1 "My Blog")
             ,(render-posts a-blog embed/url)
             (form ((action
                     ,(embed/url insert-post-handler)))
                   ; "title" is used here
                   (input ((name "title")))
                   (input ((name "body")))
                   (input ((type "submit"))))))))
 
  (define (insert-post-handler request)
    (define bindings (request-bindings request))
    (blog-insert-post!
     a-blog
     ; And "title" is used here.
     (extract-binding/single 'title bindings)
     (extract-binding/single 'body bindings))
    (render-blog-page a-blog (redirect/get)))
  (send/suspend/dispatch response-generator))
</code></pre><hr><h3 id="integrated-with-formlet-…">integrated with formlet …</h3><pre><code>(define (render-blog-page a-blog request)
  (define (response-generator embed/url)
    (response/xexpr
     `(html (head (title "My Blog"))
            ...
             (form ([action
                     ,(embed/url insert-post-handler)])
                   ,@(formlet-display new-post-formlet)
                   (input ([type "submit"])))))))
 
  (define (insert-post-handler request)
    (define-values (title body)
      (formlet-process new-post-formlet request))
    ...
  (send/suspend/dispatch response-generator))
</code></pre><hr><h2 id="How-to-use-CSS-in-Racket">How to use CSS in Racket</h2><ul>
<li>
<p>First step is to make a subdirectory (htdocs) in the same file as your application.</p>
</li>
<li>
<p>Inside create a stylesheet.css and update it to your liking.</p>
</li>
<li>
<p>At every html response, link your css inbetween the head and body</p>
</li>
<li>
<p>Declare your file path at the end method :<br>
(static-files-path “htdocs”)</p>
</li>
</ul><hr><h2 id="Example">Example</h2><pre><code>#lang web-server/insta
(define (start request)
  (response/xexpr
     `(html (head (title "My Blog"))
            (link ((rel "stylesheet")
                       (href "/stylesheet.css")
                       (type "text/css")))
            (body ...))))
            
(static-files-path "htdocs")
</code></pre><hr><h2 id="How-to-add-Web-Security-to-Racket">How to add Web Security to Racket</h2><ul>
<li>Many of security otions in Racket comes as Macros.</li>
<li>While building the website, we looked into making it secure from popular attacks</li>
<li>such as SQL Injections, XXS attacks, and authentication hacks.</li>
</ul><hr><h2 id="SQL-Injection-Example">SQL Injection Example</h2><pre><code>; Basic First Attempt
(query-rows c
  (format "SELECT name, ~a FROM contestants" column))
(query-list c
  (format "SELECT name FROM contestants ORDER BY score ~a" direction))
Instead, select the inserted SQL from known good alternatives:

; SQL Injection Protection
(query-rows c
  (format "SELECT name, ~a FROM contestants"
          (cond [(member column '("wins" "losses")) column]
                [else (error ....)])))
(query-list c
  (format "SELECT name FROM contestants ORDER BY score ~a"
          (if ascending? "ASC" "DESC")))
      
</code></pre><hr><h2 id="Continuation">Continuation</h2><p>A continuation is a special kind of function that’s like a bookmark to the location of an expression.<br>
Continuations let you jump back to an earlier point in the program.<br>
When you use a continuation, it sends you back where the bookmarked expression was evaluated.</p><hr><h2 id="Continuation-Example">Continuation Example</h2><pre><code>(define-macro (define/return ID+ARG BODY)
  (with-shared-id (return)
    #'(define ID+ARG
        (let/cc return
          BODY))))

(define/return (find-multiple factor)
  (for ([num (shuffle (range 2000))])
       (when (zero? (modulo num factor))
         (return num))))

(find-multiple 43)
</code></pre><hr><h2 id="Synchronization">Synchronization</h2><p>A synchronizable event works with the sync procedure to coordinate synchronization among threads.<br>
Certain kinds of objects double as events, including ports and threads.</p><p>Racket’s synchronization toolbox has four layers:</p><p><strong>synchronizable events</strong> — a general framework for synchronization</p><hr><p><strong>channels</strong> — a primitive that can be used to build most other kinds of synchronizable events</p><p><strong>semaphores</strong> — a simple and especially cheap primitive for synchronization</p><p><strong>future semaphores</strong> — a simple synchronization primitive for use with futures</p><hr><h2 id="Synchronization-Example">Synchronization Example</h2><pre><code>(define (server input-channel output-channel)
  (thread (lambda ()
            (define (get)
              (async-channel-get input-channel))
            (define (put x)
              (async-channel-put output-channel x))
            (define (do-large-computation)
              (sqrt 9))
            (let loop ([data (get)])
              (case data
                [(quit) (void)]
                [(add) (begin
                         (put (+ 1 (get)))
                         (loop (get)))]
                [(long) (begin
                          (put (do-large-computation))
                          (loop (get)))])))))
(define to-server (make-async-channel))
(define from-server (make-async-channel))
</code></pre><hr><h2 id="Start-the-server">Start the server</h2><pre><code>#lang web-server/insta
 
(require web-server/formlets
         "model-3.rkt")
 
; start: request -&gt; doesn't return
; Consumes a request and produces a page that displays
; all of the web content.
(define (start request)
  (render-blog-page
   (initialize-blog!
    (build-path (current-directory)
                "the-blog-data.sqlite"))
   request))
</code></pre><hr><h2 id="How-to-add-your-Project-into-Google-Cloud">How to add your Project into Google Cloud</h2><ol>
<li>Get an account for Google Cloud Platform</li>
<li>Make a new a Project and name it</li>
<li>Get a domain name that you own (example is sites like <a href="http://godaddy.com" target="_blank">godaddy.com</a>)</li>
<li>Start a new VM instance and move through settings</li>
<li>Using your chosen hosting site, link your instance address to your URL</li>
</ol><hr><ol start="6">
<li>SSH into your VM instance and update the OS</li>
<li>Install a web server (example is Apache) and run it</li>
<li>Add all files created into this instance’s directory</li>
<li>Reload the URL page</li>
</ol><hr><h2 id="Overall-Thoughts">Overall Thoughts</h2><ol>
<li>What We Learned</li>
<li>Struggles</li>
</ol><div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: 0s; width: 100000px; height: 100000px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div>